@using ProjectWebApp.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JP Diving</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/assets/favicon.png" rel="icon" title="Favicon">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom  ">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JP Diving</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.IsInRole(StatischeDetails.Role_Admin))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Content Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Opleidingen" asp-action="Index">Opleidingen</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categorieën</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Federaties" asp-action="Index">Federatie</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Niveaus" asp-action="Index">Niveau</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Omschrijvings" asp-action="Index">Omschrijvingen</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Slots" asp-action="Index">Slot</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Voorwaarden" asp-action="Index">Voorwaarden</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Algemeenheden" asp-action="Index">Algemeenheden</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                User Management
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">User</a>
                            </div>
                        </li>
                    }
                    <li style="color:white; margin-left: 50px" >
                        <a asp-area="Klant" asp-controller="OpgeslagenOpleidingen" asp-action="Index" class="nav-link">
                            Favorieten <i class="fas fa-heart"></i>
                        </a>
                    </li>


                </ul>
            </div>
        </nav>
        @*<section style="position: center; z-index:1; top:75px; width: 100%; margin-left: 10%; margin-top: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <form class="form-inline ">
                            <input class="form-control form-control-sm mx-3 w-75" type="text" placeholder="Zoek een opleiding" aria-label="Search">
                            <button type="submit" style="background-color: transparent; border:none; margin-left: -10px"><i class="fas fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>*@

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - JP Diving - <a asp-area="Klant" asp-controller="Home" asp-action="AboutUs">Over ons</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
