@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw wachtwoord is geresset! Gelieve <a asp-page="./Login">hier</a> te drukken om aan te melden.
</p>
