@model ProjectWebApp.Models.Algemeenheden

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Algmeenheid aanpassen";
}
<form asp-action="Edit">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AlgemeenhedenID" />
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Titel"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Titel" class="form-control" />
                    <span asp-validation-for="Titel" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Beschrijving"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Beschrijving" class="form-control" />
                    <span asp-validation-for="Beschrijving" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" value="Save" class="btn btn-primary form-control">Bevestigen</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Terug naar lijst</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
