@model ProjectWebApp.Models.Opleiding

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Creër opleiding";
}
<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Naam"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Naam" class="form-control" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Prijs"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Prijs" class="form-control" />
                    <span asp-validation-for="Prijs" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Foto
                </div>
                <div class="col-8">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Niveau"></label>
                </div>
                <div class="col-8">
                    <select asp-for="NiveauID" class="form-control" asp-items="ViewBag.NiveauID"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Federatie"></label>
                </div>
                <div class="col-8">
                    <select asp-for="FederatieID" class="form-control" asp-items="ViewBag.FederatieID"></select>
                </div>
            </div>            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Categorie"></label>
                </div>
                <div class="col-8">
                    <select asp-for="CategorieID" class="form-control" asp-items="ViewBag.CategorieID"></select>                
                </div>
            </div>            
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Slot"></label>
                </div>
                <div class="col-8">
                    <select asp-for="SlotID" class="form-control" asp-items="ViewBag.SlotID"></select>
                </div>
            </div>            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Voorwaarden"></label>
                </div>
                <div class="col-8">
                    <select asp-for="VoorwaardenID" class="form-control" asp-items="ViewBag.VoorwaardenID"></select>
                </div>
            </div>            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Omschrijving"></label>
                </div>
                <div class="col-8">
                    <select asp-for="OmschrijvingID" class="form-control" asp-items="ViewBag.OmschrijvingID"></select>
                </div>
            </div>            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Algemeenheden"></label>
                </div>
                <div class="col-8">
                    <select asp-for="AlgemeenhedenID" class="form-control" asp-items="ViewBag.AlgemeenhedenID"></select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" value="Create" class="btn btn-primary form-control">Bevestigen</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Terug naar lijst</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
<script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js"></script>

<script>

    tinymce.init({
        selector: 'textarea',
        plugins: 'lists',
        menubar: 'file edit format'
    });


    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            swal("Error", "Please select an image", "error");
            return false;
        }
        return true;
    };

</script>

}