@model ProjectWebApp.Models.Opleiding

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Opleiding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NiveauID" class="control-label"></label>
                <select asp-for="NiveauID" class="form-control" asp-items="ViewBag.NiveauID"></select>
                <span asp-validation-for="NiveauID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FederatieID" class="control-label"></label>
                <select asp-for="FederatieID" class="form-control" asp-items="ViewBag.FederatieID"></select>
                <span asp-validation-for="FederatieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategorieID" class="control-label"></label>
                <select asp-for="CategorieID" class="form-control" asp-items="ViewBag.CategorieID"></select>
                <span asp-validation-for="CategorieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlotID" class="control-label"></label>
                <select asp-for="SlotID" class="form-control" asp-items="ViewBag.SlotID"></select>
                <span asp-validation-for="SlotID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoorwaardenID" class="control-label"></label>
                <select asp-for="VoorwaardenID" class="form-control" asp-items="ViewBag.VoorwaardenID"></select>
                <span asp-validation-for="VoorwaardenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OmschrijvingID" class="control-label"></label>
                <select asp-for="OmschrijvingID" class="form-control" asp-items="ViewBag.OmschrijvingID"></select>
                <span asp-validation-for="OmschrijvingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlgemeenhedenID" class="control-label"></label>
                <select asp-for="AlgemeenhedenID" class="form-control" asp-items="ViewBag.AlgemeenhedenID"></select>
                <span asp-validation-for="AlgemeenhedenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
