@model ProjectWebApp.Models.Federatie

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Creër een Federatie";
}
<form method="post" enctype="multipart/form-data">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Naam"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Naam" class="form-control" />
                    <span asp-validation-for="Naam" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" value="Create" class="btn btn-primary form-control">Bevestigen</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Terug naar lijst</a>
                </div>
            </div>
        </div>
    </div>
</form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
